@import "../Variables.scss";

.DonatePage {
	width: 100vw;

	display: flex;
	flex-direction: column;

	align-items: center;
	text-align: center;

	> .Contents {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 600px;
		max-width: 80vw;
	}

	.Links {
		gap: 20px;
		margin-top: 30px;

		font-size: 1.2em;
	}

	.Window {
		margin-bottom: 40px;
		max-width: 70vw;

		background: var(--secondary-bg);
		padding: 30px;
		padding-left: 15px;

		overflow: hidden;
		border-radius: 15px;

		box-shadow: 0 0 12px 3px rgba(black, 0.1);
	}
}
