@import "./Variables.scss";

:root {
	--primary-color: var(--cf-acc0);
	--secondary-color: var(--cf-acc1);

	--primary-bg: var(--cf-bg0);
	--secondary-bg: var(--cf-bg1);
	--tertiary-bg: var(--cf-bg2);

	--primary-border-radius: 0;
	--secondary-border-radius: var(--cf-br1);
	--txt-color: var(--cf-txt0);
}

html {
	background-color: $primaryBG;
	color: var(--txt-color);

	-moz-user-select: none;
	-webkit-user-select: none;
	overflow-x: hidden;
}

body {
	//font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	//'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	//sans-serif;
	font-family: var(--cf-font0);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0;
}

.App,
.Main {
	width: 100vw;
	min-height: 100vh;
	position: relative;
}

::-webkit-scrollbar {
	background: rgba(black, 0.1);
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: $primaryColor;
	border-radius: 10px;
}

a:not(.LinkWrapper) {
	color: $primaryColor;
	text-decoration: none;
	font-weight: bold;
}

@keyframes WaveVectorAnim {
	100% {
		transform: translateX(-100vw);
	}
}

.AboutMeModal {
	> h2 {
		color: $secondaryColor;
		margin-top: 0;
	}

	> h4 {
		.Flex {
			align-items: center;
			color: $secondaryColor;
		}

		svg {
			margin-right: 10px;
			box-sizing: border-box;

			width: 30px;
			height: 30px;

			padding: 3px;
		}

		> p {
			margin-left: 40px;
			margin-top: 0;
		}
	}
}

.Background {
	position: absolute;
	color: $secondaryBG;

	overflow: hidden;

	width: 100vw;
}

// @keyframes WaveVectorAnim {
// 	to {
// 		transform: translateX(-50%);
// 	}
// }

// @keyframes WaveVectorAnimUpsideDown {
// 	to {
// 		transform: translateX(-50%) scale(-1, -1);
// 	}
// }

// Some boilerplate stuff for the lazies.

.Flex {
	display: flex;
}

.FlexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Col {
	flex-direction: column;
}

.StarField {
	position: fixed;

	z-index: -100;
	border-radius: 50%;
}

.ShootingStarField {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	.ShootingStar {
		position: absolute;

		top: var(--ss-sy);
		left: var(--ss-sx);
		transform: rotate(var(--ss-rot)) scale(var(--ss-size));

		height: 2px;
		background: linear-gradient(-45deg, currentColor, transparent);
		border-radius: 999px;
		filter: drop-shadow(0 0 8px currentColor) brightness(1.1);
		animation: ss-trail var(--ss-life) ease-in-out, ss-main var(--ss-life) ease-in-out;
		animation-fill-mode: forwards;

		&::before {
			content: "";
			position: absolute;
			top: -4px;
			right: -40px;
			width: 120px;
			height: 10px;
			background: radial-gradient(white 10%, currentColor, transparent 50%);
			border-radius: 999px;
			animation: ss-flicker 200ms ease-in-out infinite;
		}

		@keyframes ss-trail {
			0% {
				width: 0;
			}

			30% {
				width: 200px;
			}

			100% {
				width: 0;
			}
		}

		@keyframes ss-main {
			to {
				top: var(--ss-ty);
				left: var(--ss-tx);
			}
		}

		@keyframes ss-flicker {
			0% {
				opacity: 0.8;
				filter: none;
			}

			20% {
				opacity: 1;
				filter: brightness(1.2);
			}

			100% {
				opacity: 0.8;
				filter: none;
			}
		}
	}
}

.Window {
	margin-bottom: 40px;
	width: 500px;
	max-width: 70vw;

	background: var(--secondary-bg);
	padding: 30px 15px;

	overflow: hidden;
	border-radius: 15px;

	box-shadow: 0 0 12px 3px rgba(black, 0.1);

	position: relative;

	> .TitleBarMockup {
		.Close {
			cursor: pointer;

			&:hover {
				filter: brightness(1.1);
			}
		}
	}
}.CrescentContainer {
	position: absolute;
	top: 5vw;
	right: 10vw;

	width: 150px;
	height: 150px;

	border-radius: 50%;

	background-color: var(--primary-bg);
	z-index: -10;

	.Crescent {
		width: 100%;
		height: 100%;

		border-radius: 50%;

		box-shadow: 20px -8px var(--txt-color);
		filter: drop-shadow(0 0 7px var(--txt-color));

		animation: crescent 4s infinite steps(10);

		@keyframes crescent {
			50% {
				filter: drop-shadow(0 0 15px var(--txt-color));
			}
		}
	}
}

.Clouds {
	position: absolute;
	overflow: hidden;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	color: $tertiaryBG;
	z-index: -10;

	>.CloudWrapper {
		&:nth-child(odd)>.Cloud {
			animation-direction: reverse;
		}
	}

	.Cloud {
		display: block;

		animation-name: CloudAnim;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(1500);

		margin-top: 20vh;

		@keyframes CloudAnim {
			from {
				transform: translateX(-100vw);
			}

			to {
				transform: translateX(100vw);
			}
		}

		>.Sec {
			width: calc(var(--size) * 0.6px);
			height: 45px;
			border-radius: 200px;

			background-color: currentColor;

			box-shadow: 25px 25px 0 10px #232e38;

			&:nth-child(even) {
				margin-left: 50px;

				filter: brightness(1.1);
			}

			animation-name: CloudSecAnim;
			animation-iteration-count: infinite;
			animation-timing-function: steps(150);

			@keyframes CloudSecAnim {
				50% {
					transform: translate(25%, -40%);
				}
			}

			@keyframes CloudPopAnim {
				70% {
					transform: scale(5);
				}

				100% {
					transform: scale(0);
					opacity: 0;
				}
			}
		}
	}
}